body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.games {
    background: #202027;
}

.about {
    padding: 72px;
}

.h2 {
    font-family: Montserrat;
    font-weight: 700px;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    width: 314px;
    height: 78px;
    background: #FFFFFF;
}

.p {
    width: 788px;
    height: 96px;
    font-family: Montserrat;
    font-weight: 400px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    background: #FFFFFF;
}

.games-grid {
        width: 1201px;
        height: 1056px;
        gap: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;     
}

.games-grid-one {
    background-color: white;
    width: 378px;
    height: 1056px;
    gap: 32px;
}

.small-game-card {
    width: 378px;
    height: 473px;
    border-radius: 30px;
}

.small-game-card-pic1 {
    background-image: url('imgs/small-game-card-pic1.png');
    width: 378px;
    height: 314px;
    border-radius: 30px;
    background-color: lightgray;
    background-size: cover;
    background-position: center;
}

.small-game-card-pic3 {
    background-image: url('imgs/small-game-card-pic3.png');
    width: 378px;
    height: 314px;
    border-radius: 30px;
    background-color: lightgray;
    background-size: cover;
    background-position: center;
}

.small-game-card-pic5 {
    background-image: url('imgs/small-game-card-pic5.png');
    width: 378px;
    height: 314px;
    border-radius: 30px;
    background-color: lightgray;
    background-size: cover;
    background-position: center;
}

.big-game-card-pic2 {
    background-image: url(imgs/big-game-card-pic2.png);
    width: 378px;
    height: 551px;
    border-radius: 30px;
    background-color: lightgray;
    background-size: cover;
    background-position: center;
}

.big-game-card-pic4 {
    background-image: url(imgs/big-game-card-pic4.png);
    width: 378px;
    height: 551px;
    border-radius: 30px;
    background-color: lightgray;
    background-size: cover;
    background-position: center;
}

.big-game-card-pic6 {
    background-image: url(imgs/big-game-card-pic6.jpg);
    width: 378px;
    height: 551px;
    border-radius: 30px;
    background-color: lightgray;
    background-size: cover;
    background-position: center;
}